{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th><p align="left">Symbol</p></th>
                <th><p align="left">Name</p></th>
                <th><p>Shares</p></th>
                <th><p align="right">Price</p></th>
                <th><p align="right">Total</p></th>
            </tr>
        </thead>
        <tbody>
            {% for current in purchase %}
                <tr>
                    <td align="left">{{ current["symbol"] }}</td>
                    <td align="left">{{ current["name"] }}</td>
                    <td>{{ current["shares"] }}</td>
                    <td align="right">{{ current["price"] }}</td>
                    <td align="right">{{ current["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="right"><b>Cash</b></td>
                <td align="right"><b>{{ cash }}</b></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><b>TOTAL</b></td>
                <td align="right"><b>{{ total }}</b></td>
            </tr>
        </tfoot>
    </table>
    </br>
{% endblock %}